# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# IDE
.vs/
.vscode/
*.sln
*.suo
*.user
*.userprefs

# Mac / Windows junk
.DS_Store
Thumbs.db
*.xcworkspace
*.xcodeproj

# Logs
*.log
